<!--
<template name="consultation">
    <h1>远程会诊</h1>
    <h1>远程会诊</h1>
    &lt;!&ndash;    <div class="row">
        <div class="col-md-12">
            <p>打开另外一个设备的窗口 <a href="{{roomName}}" target="_blank">邀请对方</a></p>
            <button class="btn btn-info" name="call" {{canCall}}>{{callText}}</button>
        </div>
    </div>&ndash;&gt;
    <button class="btn btn-info" name="call" {{canCall}}>{{callText}}</button>
    <div class="row">
        <div class="col-xs-6">
            <div class="stream local-stream">
                <h2>本地摄像头</h2>
                <video id="local-stream" src="{{localStream}}" autoplay muted></video>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="stream remote-stream">
                <h2>远程摄像头</h2>
                <video src="{{remoteStream}}" autoplay></video>
            </div>
        </div>
    </div>
</template>



-->
