<template name="consultation">
<h1>远程会诊</h1>

    <div class="row">
        <div class="col-xs-6">
            <div class="stream local-stream">
                <h2>本地摄像头</h2>
                <video height="300" id="localStream"></video>

            </div>
        </div>

        <div class="col-xs-6">
            <div class="stream remote-stream">
                <h2>远程摄像头</h2>
                <div id="remoteStream">


                </div>
            </div>
        </div>
    </div>
</template>



