<template name="codeModal">
    <div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-borders">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>该手机号码未注册</p>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-4 col-sm-offset-4 ">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>