<template name="appointCheck">
    <!-- Modal -->
    <div class="modal fade" id="appointCheckModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header no-borders">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p>引用当前检查录入页面，注意应调整信息</p>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="button" class="btn btn-primary btn-block  m-b-xs" id="addCheck">确定</button>
                    </div>
                    <div class="col-sm-4 ">
                        <button type="button" class="btn btn-primary btn-block  m-b-xs" data-dismiss="modal">取消</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</template>