<!--提交信息成功-->
<template name="examineSuccess">
    <div class="loginColumns text-center animated fadeInDown registerBox">
        <div class="col-sm-12" style=" background:#fff;border:1px solid #4A4A4B">
            <p class=" font-size-18" style="margin-bottom:50px;margin-top:30px;">您在2016/3/31提交的注册信息经审核已通过</p>
            <h1 style="margin-bottom:50px;"><strong>欢迎加入看病网</strong></h1>
            <button class="btn btn-primary block btn-block col-sm-8 col-sm-offset-2 m-b-lg" style="width:300px;">进入看病网</button>
        </div>


    </div>
</template>