<!--注册失败-->
<template name="examineNoSuccess">
    <div class="loginColumns text-left animated fadeInDown registerBox">
        <div class="col-sm-12" style=" background:#fff;border:1px solid #4A4A4B;padding:0 35px;">
            <p class=" font-size-18" style="margin-bottom:20px;margin-top:30px;">您在2016/3/31提交的注册信息经审核未通过，原因如下：</p>
            <ul style="margin-bottom:70px;" class="noSusExamine text-left no-padding">
                <li class="font-size-16"><i class="fa fa-circle font-green"></i>&nbsp;&nbsp;执业机构经核实无效</li>
            </ul>
            <button class="btn btn-primary block btn-block col-sm-8 col-sm-offset-2 m-b-lg" style="width:300px;">重新注册</button>
        </div>


    </div>
</template>