<!--提交信息成功-->
<template name="submitSuccess">
    <div class="loginColumns text-center animated fadeInDown " style="width:325px;">
        <div class="col-sm-12">
            <img src="/img/logoBig.png"/>
            <h1 class="m-b" style="font-size:35px;margin-top:15px;margin-bottom:20px;color:#424242"><strong>信息提交成功</strong></h1>
            <p class="m-b-sm font-size-16">我们将会在1-3个工作日内对您的注册信息进行审核，请耐心等待。</p>
            <p class="m-b font-size-16">客服电话：010-56050127</p>
            <a href="#"  class="btn btn-primary block btn-block">登 陆</a>
        </div>


    </div>
</template>