<!--创建个人账号-->
<template name="register">
    <div class="loginColumns text-center animated fadeInDown registerBox">
        <div class="col-sm-9 col-sm-offset-3">
            <img src="/img/logoBig.png"/>
            <h2 class="m-b" style="margin-top:15px;margin-bottom:20px;color:#424242"><strong>创建个人账号</strong></h2>
        </div>
    {{#autoForm collection="Meteor.users" id="registerUserForm" class="lineheight-34"}}
            <!--<div class="form-group">-->
                {{>afQuickField name="profile.mobile" template="bootstrap3-horizontal"  id="userPhone" label-class="noweight col-sm-3 control-label font-size-16 text-right" input-col-class="col-sm-9"}}
                <!--<label class="col-sm-3 control-label font-size-16" style="font-weight:normal">手机号</label>-->
                <!--<div class="col-sm-9"><input type="text" class="form-control"></div>-->
            <!--</div>-->

            <div class="form-group clearfix height34">
                <label class="noweight col-sm-3 control-label font-size-16 text-right">验证码</label>
                <div class="col-sm-5 m-b-sm"><input type="text" class="form-control" id="userCode"></div>
                <div class="col-sm-4"><button class="btn btn-primary btn-block font-size-16" id="getCode">获取验证码</button></div>
            </div>
            <!--<div class="form-group">-->
                {{>afQuickField name="password" type="password" template="bootstrap3-horizontal"  id="userPwd" label-class="noweight col-sm-3 control-label font-size-16 text-right" input-col-class="col-sm-9"}}
                <!--<label class="col-sm-3 control-label font-size-16" style="font-weight:normal">设置密码</label>-->
                <!--<div class="col-sm-9"><input type="password" class="form-control"></div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                {{>afQuickField name="confirmPassword" type="password" template="bootstrap3-horizontal" id="userRePwd" label-class="noweight col-sm-3 control-label font-size-16 text-right" input-col-class="col-sm-9"}}
                <!--<label class="col-sm-3 control-label font-size-16" style="font-weight:normal">确认密码</label>-->
                <!--<div class="col-sm-9"><input type="password" class="form-control"></div>-->
            <!--</div>-->
            <div class="col-sm-9 col-sm-offset-3 m-b">
                <div class="checkbox" style="margin-left:-60px;">
                        <input type="checkbox" class="m-r-sm" id="checkbox1">
                        <label for="checkbox1 font-size-16" style="line-height: normal !important;">
                            我已阅读并同意<a style="color:#00B195" data-toggle="modal" data-target="#XYModal">《看病网医生注册协议》</a>
                        </label>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-3 control-label font-size-16" ></label>
                <div class="col-sm-9"><button  type="submit" class="btn btn-primary btn-block font-size-16" id="registNext">下一步</button></div>
            </div>
        {{/autoForm}}
    </div>
    <!-- 协议 Modal -->
    <div class="modal fade" id="XYModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title text-center" id="myModalLabel">医生注册协议</h2>
                </div>
                <div class="modal-body" style="max-height:300px;overflow-y:scroll;">
                    <h3>协议条款：</h3>
                    <p>注册声明： 请你在申请为我们的专业医生会员之前认真阅读我们的注册协议条款，只有在您全部接受我们的注册协议之各项条款后方可成为我们正式专业医务人员会员，并可以通过我们的医患交互平台向患者提供相应的医疗服务及使用看病网提供的其他服务功能。</p>
                    <h3>具体条款：</h3>
                    <h4>一、     服务条款的确认和接纳</h4>
                    <p>本协议内容包括协议正文及所有服务平台已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力，您必须完全同意所有服务条款并完成注册程序，才能成为看病网的正式会员。</p>
                    <h4>二、     名词定义：</h4>
                    <p>甲方：指看病网或华康同邦科技有限公司 — 医患交互平台的提供者<br />
                    乙方：指正式的专业医生会员 — 医疗服务的提供者<br />
                    远程医疗服务：指注册医生会员通过看病网医患交互平台向患者提供的有偿或公益医疗服务，目前仅指： 1 ，医疗咨询 2 ，检查报告或自测体征数据的解读 3 ，会诊服务<br />
                    医患交互平台：指华康同邦科技有限公司开发的医患交互平台，主要功能有多媒体咨询，视频会诊，健康档案，健康教育，保健品商城。</p>
                    <h4>三、     专业医生会员需要的条件</h4>
                    <p>1 、在完成注册程序或实际使用医患交互平台时，应当是具备完全民事权利能力和完全民事行为能力的自然人；<br />
                    2 、合法医疗单位（医院、诊所、门诊部、药店等）的工作人员（不含实习人员），拥有国家卫生行政管理部门颁发的资格证书和注册有效的执业证书，在进行用户注册时，需依照要求提供个人相关证明文件（身份证、医师资格证、医师执业证等），并将这些资料扫描后上传到后台，或将复印件通过邮寄、传真提交看病网进行审核和存档；<br />
                    3 、若用户不具备前述主体资格或上传虚假信息，则用户应承担因此而导致的一切后果，且看病网有权注销用户信息，由此造成的损失，看病网有权向用户索偿；</p>
                    <h4>四、     甲乙双方权利与义务</h4>
                    <p>1 、甲方权利与义务<br />
                    1 ）甲方有权利制定医患交互平台的管理规则及使用规则；<br />
                    2 ）甲方有权利审核专业医生会员注册时的注册资料之真实性，并审核其医生资质的合法性，在医生会员通过审核后才可以为正式的医生会员；<br />
                    3 ）甲方有权利在医务人员在使用本医患交互平台时出现下列情形时中止服务之约定：<br />
                    a. 行为不当，超出医务人员之服务范畴；<br />
                    b. 被患者用户多次投诉而没有具体的悔改之表现者；<br />
                    c. 有重大医疗服务之责任失误；<br />
                    d. 违反本医患交互平台之管理规定而不服从看病网的管理；<br />
                    e. 在看病网从事非法活动；<br />
                    4 ）甲方有权利和乙方约定医疗服务之价格并确定此费用的分配规则；<br />
                    5 ）甲方有权利根据乙方的服务的患者进行评估以对乙方进行评估，根据评估结果进行奖励；<br />
                    6 ）甲方有义务向乙方提供合格功能稳定的医患交互平台；<br />
                    7 ）甲方有义务按约定的规则向乙方定期或不定期结算劳务费用；<br />
                    8 ）甲方有义务保守乙方注册时不对公众开放的个人信息但国家相应行政机关或法律要求的除外；<br />
                    9 ）甲方有义务维护乙方的公众形象并利用本网络平台进行宣传和推广；<br />
                    2 、乙方权利与义务<br />
                    1 ）乙方有权利通过甲方提供的医患交互平台向患者开展医疗咨询服务；<br />
                    2 ）乙方有权利通过看病网了解和学习相关专业知识及参与同业交流；<br />
                    3 ）乙方有权利参与甲方网站开展的各种活动；<br />
                    4 ）乙方有权利和甲方约定其在甲方网络平台上提供有偿服务还是无偿义务服务的性质，乙方有权利通过向甲方提供有偿服务而获得相应劳务费用的回报；<br />
                    5 ）乙方有义务在进行专业医生会员注册时如实填写有关资料并确保注册资料的真实性和合法性；<br />
                    6 ）乙方有义务在通过甲方网络平台提供咨询服务时，向患者公开真实姓名、工作单位、工作电话、职称、简历、擅长等不包含属于个人隐私之资料；<br />
                    7 ）乙方有义务在通过甲方网络平台提供医疗服务时遵守国家相关规则，如：卫生部《互联网医疗卫生信息服务管理办法》、《 关于加强远程医疗会诊管理的通知》等， 不能代替实际的医学诊疗工作，只可给出初步的诊疗建议及或进行术后关怀等，不能给患者用户开具处方等；<br />
                    8 ） 乙方有义务对自己提供的医疗咨询、就医建议等服务承担责任，对于因乙方对患者用户服务不当而对接受服务的普通用户或者第三方造成的任何直接或间接的损害，责任由乙方自己承担，甲方不承担任何责任。<br />
                    9 ）乙方有义务在使用本网站提供的网络服务时自备除此之外的与相关网络服务有关的设备，包括上网设备：个人电脑、调制解调器及配备上网装置；个人上网和支付与此上网服务有关的费用；<br />
                    10 ）乙方有义务提供及时、详尽及真实的个人资料，不断更新注册资料。该资料符合及时、详尽、准确的要求，记住注册时间，以便将来忘记密码或密码被盗时查询。</p>
                    <h4>五、     服务的开通及终止</h4>
                    <p>1 、乙方用户接受本服务条款并完成相应注册程序，在看病网进行资料和资质的审核并成功通过审核后，便成为看病网的医生会员。<br />
                    2 、甲方可随时根据实际情况中断一项或多项网络服务，而不需对任何个人或第三方负责而随时中断服务。医生会员对后来的条款修改有异议，或对甲方的服务不满，可以行使如下权利：<br />
                    1 ）停止使用看病网的网络服务。<br />
                    2 ）通知看病网停止对该医生会员的服务。<br />
                    结束医生会员服务后，医生会员使用网络服务的权利马上终止。从那时起，用户没有权利，看病网也没有义务传送任何未处理的信息或未完成的服务给用户或第三方。</p>
                    <h4>六、      服务条款的修改和终止</h4>
                    <p>1 、甲方有权无需事先通知任何用户或第三方而随时变更或中断所提供之免费服务，且无需对此承担任何责任。甲方服务条款一旦发生变动，将会在重要页面上提示修改内容。<br />
                    2 、乙方如对服务条款修改有异议，或甲方的服务不满，可随时根据实际情况在今后停止使用甲方提供的一项或多项服务。但是乙方应当按照其在定制服务时相应页面上明示的计费及付费方式就其已经定制的服务向甲方支付相应的服务费用。 乙方与甲方如有未结算之劳务费用应在此时予以结清。<br />
                    3 、甲方有权自主判定乙方的行为是否符合甲方服务条款的要求，如果乙方违背了服务条款的规定，甲方有权随时终止对其提供之服务或服务之任意部分，而无需给予通知。同时，甲方之系统记录可能作为乙方违反服务条款之依据。<br />
                    4 、乙方用户服务终止后，乙方用户使用服务的权利同时终止。从那时起，甲方无义务保留乙方账户中的任何内容或将任何未阅读或未发出之信息（有偿信息服务除外）传送给患者用户或第三方。<br />
                    5 、发生下列情形之一时，甲方有权停止或中断服务，并不承担任何法律责任：<br />
                    1 ）乙方违反国家相关法律规定和本公司的有关服务章程和操作规则的。<br />
                    2 ）因不可抗力事件致使甲方无法提供服务的。<br />
                    协议所称不可抗力事件是指不能预见、不能克服并不能避免且对一方当事人造成重大影响的客观事件，包括但不限于 INTERNET 公网（国际出口）阻塞或其他通路问题造成线路中断、自然灾害如洪水、地震、火灾和风暴等以及社会事件如战争、动乱、政府行为等。</p>
                    <h4>七、     用户的帐号，密码和安全性</h4>
                    <p>1 、乙方必须保管好自己的账号和密码，谨防被盗或泄露。因密码被盗或泄露造成的全部责任和损失均由乙方承担，甲方概不负责。<br />
                    2 、乙方因忘记密码或密码被盗向甲方查询密码时，必须提供完全正确的注册信息（包括注册时间，注册时的手机号码及有效的身份证件），否则甲方有权本着为用户保密的原则不予告知<br />
                    3 、乙方可随时修改账号密码，也可以申请新的账号，但不可以要求删除旧的账号。乙方同意若发现任何非法使用用户账号或利用安全漏洞的情况，立即通告甲方。 乙方须承诺在申请账号时遵循如下规定：<br />
                    1 ） 用户名和中文昵称的注册及使用须尊重网络道德，遵守中华人民共和国的有关法律法规。<br />
                    2 ）用户名和中文昵称中不得含有任何威胁、恐吓、漫骂、庸俗、亵渎、色情、淫秽、非法、反动、前后矛盾、攻击性、伤害性、骚扰性、诽谤性、辱骂性的或侵害他人知识产权的文字。<br />
                    3 ）用户名注册成功后，必须保管好自己的账号和密码，谨防被盗或泄露。<br />
                    4. ）用户不得使用任何方式盗用、冒充他人用户名，其行为造成恶劣后果自负。<br />
                    5. ）用户使用在看病网的用户名在看病网中的任何行为需要遵守看病网各项服务条款。</p>
                    <h4> 八、     关于有偿服务项目劳务费用的结算</h4>
                    <p>甲方将按和乙方的约定的分配规则定期或不定期的将此费用在按国家法律相关要求扣除税后汇入乙方指定的银行账户，乙方可以随时使用乙方用户账户功能的劳务费查询功能了解费用发放状况。</p>
                    <h4>九、     关于责任</h4>
                    <p>1 、甲方明确表示不作任何类型的担保，不论是明示的或是隐含的，包括但不限于：<br />
                    1 ）不对任何人获取的本公司网站资料的准确性、有效性、合时性、完整性做出任何保证。<br />
                    2 ）不对本公司网站提及的任何商品或服务质量或功能承担任何保证责任。<br />
                    2 、乙方利用甲方平台短信服务功能向其他普通用户提供的有偿或无偿的保健咨询和就医指南服务，不能代替实际的医学诊疗工作。 同时，乙方对自己提供的保健咨询和就医指南服务承担责任，对于因乙方服务不当而对接受服务的患者用户造成的任何直接或间接的损害，由乙方自己承担，甲方不承担任何责任。<br />
                    3 、对于因乙方不当使用网络服务而发生的损失、个人资料泄露或用户储存或删除信息失败，甲方不承担责任。<br />
                    4 、甲方有权对乙方的行为是否符合甲方网络服务协议做出独立判断。如认为乙方违背用户协议的约定，甲方有权决定中断及结束其使用网络服务的权利，并对此不承担任何责任。<br />
                    5 、乙方结束用户网络服务后，乙方用户使用网络服务的权利即行终止。乙方用户无权要求甲方再传递任何信息给用户或第三方。<br />
                    6 、由于技术支持方原因，导致服务不能继续的，甲方不承担责任。<br />
                    7 、由于通讯平台提供方原因，导致服务不能继续的，甲方不承担责任。</p>
                    <h4>十、     内容及著作权</h4>
                    <p>1 、甲方网站上由甲方发布之所有著作及资料，其著作权、专利权、商标、商业秘密、其它知识产权的所有权均为甲方或其权利人所有，除事先经甲方或其权利人合法授权外，医生会员不得擅自复制、传输、改作、编辑或以其他任何形式基于任何目的加以公开使用。否则甲方将追究其法律责任；<br />
                    2、患者在看病网中上传的数据信息为患者的健康数据，归患者所有，甲方乙方在未取得患者同意前不得在看病网以外的平台或媒体上进行公开或发布；<br />
                    3、乙方给与患者的病情分析、解释、医学建议等信息归乙方所有，甲方在未取得乙方同意前不得以任何形式在看病网以外的平台或媒体上进行公开或发布；<br />
                    4、在看病网中的患者数据及乙方对患者的病情分析、解释、医学建议等信息可在乙方进行会诊时公布给看病网中的第三方用户；</p>
                    <h4>十一、     信息的储存及限制</h4>
                    <p>甲方对所有服务将尽力维护其安全性及方便性，但不对乙方会员所发布信息的删除或储存失败等负责；甲方有判定会员的行为是否符合甲方服务条款的要求和精神的保留权利，如果会员违背了服务条款的规定，甲方有权选择适当的处理方法直至终止对其提供网络服务。</p>
                    <h4>十二、     十三、通告</h4>
                    <p>所有发给会员的通告都可通过重要页面的公告或电子邮件或常规的信件传送。服务条款的修改、服务变更、或其它重要事件的通告都会以此形式进行。</p>
                    <h4>十三、     行为约束</h4>
                    <p>1 、注册会员用户对其在本公司网站和社区传输的一切内容负责。<br />
                    2 、注册会员用户同意并遵守中华人民共和国有关法律法规及一切国际网络规定与惯例，保证不干扰或扰乱网络服务。<br />
                    3 、注册会员用户必须保证不在甲方网站上放置或传输任何具有骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、色情或淫秽的或侵害他人知识产权内容的非法信息。 ( 包括但不限于文字、图片或任何形式的档案 ) 也不能放置或传输任何教唆他人实施犯罪行为的资料，不得放置或传输助长国内不利条件和危害国家安全的信息或资料。不能传输任何不符合当地国家法律、法规和国际法规的资料。<br />
                    4 、注册会员用户在享受看病网提供的网络增值服务时，不得未经许可而非法进入他人电脑系统，否则由此引起的一切后果由用户自行承担。<br />
                    5 、注册会员用户若在看病网上放置或传输上述违反国家法律的信息，甲方的系统记录有可能作为用户违反国家法律的证据。</p>
                    <h4>十四、     遵守法律</h4>
                    <p>乙方承诺严格遵守《中华人民共和国保密法》、《计算机信息系统国际联网保密管理规定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国计算机信息网络国际联网管理暂行规定》、 卫生部《互联网医疗卫生信息服务管理办法》、 卫生部《关于加强远程医疗会诊管理的通知》 及其实施办法等相关法律法规的任何及所有规定，并对以任何方式使用服务的任何行为及其结果承担全部责任。</p>
                    <h4>十五、     司法管辖及法律适用</h4>
                    <p>1 、甲方和注册会员用户一致同意双方所作的约定及服务受中华人民共和国法律调整，其相应内容的含义依中华人民共和国法律进行解释。当本服务协议之全部或部分无效时，不影响其它条款的效力。对于甲方通过网站或其它形式所举办的任何活动，甲方拥有法律上的最终解释权；<br />
                    2 、如果甲方与用户发生任何纠纷，首先应通过友好协商解决。如协商不成，双方同意以甲方所在地法院作为管辖法院，任何一方均有权向甲方所在地法院提起诉讼；<br />
                    3 、看病网的法律声明的任何或所有条款，均是注册用户协议不可分割的组成部分</p>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>