<template name="bloodPressureChart">
    <div class="ibox float-e-margins">
        <div class="ibox-title ibox-title-orange">
            {{>iboxTools modalFlag="#chartbloodModal"}}
            <span class="m-t-sm m-b-sm">血压</span>
        </div>
        <div class="ibox-content border-top-white ibox-orange" style="min-height:337px;">
            <div>
                <div id="bloodPreChart" height="200" width="300"></div>
            </div>
        </div>
    </div>

    <script>

    </script>
</template>