<template name="patientDelete">
    <div class="modal" id="confirmDeleteModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <span class="font-size-18">删除患者</span>
                </div>
                <div class="modal-body">
                    确定删除此患者吗?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn-ok" id="deletePatient" data-dismiss="modal">删除</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</template>