<template name="patientAdd">
    <div id="addPatientModal" class="modal" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <span class="font-size-18">添加患者</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>


                    {{#autoForm collection="Meteor.users" id="insertPatientForm"}}
                    <div class="modal-body">
                        <fieldset>
                            {{>afQuickField name="profile.name" template="bootstrap3-horizontal" label-class="col-sm-2 m-t-xs" input-col-class="col-sm-10"}}
                            {{>afQuickField name="profile.sex"  template="bootstrap3-horizontal" label-class="col-sm-2 m-t-xs" input-col-class="col-sm-10"}}
                            {{>afQuickField name="profile.mobile" template="bootstrap3-horizontal" label-class="col-sm-2 m-t-xs" input-col-class="col-sm-10"}}
                            {{>afQuickField name="profile.idc" template="bootstrap3-horizontal" label-class="col-sm-2 m-t-xs" input-col-class="col-sm-10"}}
                            {{>afQuickField name="profile.birthday" template="bootstrap3-horizontal" label-class="col-sm-2 m-t-xs" input-col-class="col-sm-10"}}

                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">添加</button>
                    </div>
                    {{/autoForm}}



            </div>
        </div>
    </div>
</template>